* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.kocka{
    width: 300px;
    height: 300px;
    margin-top: 100px;
    margin-left: 100px;
    background-color: red;
    border-radius: 100px;
    transition: width 1s ease-in, height 1s ease-out 1s;
    transition-duration: 5s;
 }

.kocka:hover {
    background-color: yellow;
    border-radius: 0;
    width: 400px;
    height: 400px;
    /*transition-property: backgraund-color, border-radius ;
    transition-duration: 1500ms;*/
        
}
@keyframes slide {
    0% {
      left: 0;
      top: 0;
    }
    50% {
      left: 244px;
      top: 100px;
    }
    100% {
      left: 488px;
      top: 0;
    }
  }
  .box:hover {
    background: #ff7b29;
    animation-name: slide;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: .5s;
  }
/*transition: background-color 1s border-radius 1s */
.box {
    background: #2db34a;
    border-radius: 6px;
    height: 95px;
    width: 95px;
    line-height: 95px;
    text-align: center;
  
    /* Transition properties */
    transition-property: background;
    transition-duration: 1s;
    transition-timing-function: linear;
  }
 

