
:root {
    --bg-color: #0b0f1e;
    --text-color: #c5cbed;
    --bg-ligth: #0f172a;
    --accent-color: cyan;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 14px;
}
.calcContainer {
    background-color: white;
    flex: 1;
    border-radius: 14px;
    padding: 14px;
    display: flex;
    flex-direction: column;
    gap: 14px;

}
.display {
    background-color: var(--bg-ligth);
    padding: 14px;
    border-radius: 8px;
    border: 2px solid var(--text-color);
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 1.6em;
    line-height: 1rem;
    overflow: hidden;
}